@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    border: 2px solid black;
}

header img {
    height: 100px;
}

header h1{
    padding-top: 10px;
}

#mobile-logo {
    justify-self: end;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    border: 2px solid black;
    background-color: #9BBEC8;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #DDF2FD;
}

#cellphones-tab {
    display: grid;
    grid-template-columns: 1fr;
}

#add-cellphone-tab {
    display: grid;
    grid-template-columns: 1fr;
}

.phone-pic {
    width: 100px;
    /* padding: 13px; */
}

#preset-phone1, 
#preset-phone2, 
#preset-phone3, 
.created-phone, 
.new-phone-article  {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-right: 15px;
}


#add-cellphone-tab label {
    display: block; 
    margin-top: 10px; 
    margin-bottom: 25px;
}

input, select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

button {
    padding: 10px 10px;
    margin: 20px 0px;
}

p span {
    font-weight: bold;
}


.phone-pic-item img {
    width: 100px;
    margin: 15px;
}

.grid-item {
    margin: 15px;
}


@media (max-width: 540px) {
    header img {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav {
        display: none;
    }
    article {
        display: inline-block;
    }
    #add-cellphone-tab {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 10% 0 10%;
    }
    #cellphones-tab {
        padding: 10% 0 0 10%;
    }
    input {
        width: 100%;
    }
}